.App {
  background-image: url("../public/images/onepage_restaurant.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
h1 {
  margin: 0;
  padding: 0;
}
.menu,
.contact {
  margin-top: 20px;
  margin-left: 20px;
  transition: 1s;
  border: none;
  color: #fff;
  background-color: #000;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
}
.Modal {
  position: absolute;
  background-color: #fff;
  width: 70vw;
  border-radius: 6px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}
.head h1 {
  display: flex;
  align-items: center;
  padding: 20px;
  text-transform: capitalize;
}
.main {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
/* button {
  
} */
.close {
  color: #fff;
  background-color: #999;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #333;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
ul li {
  padding: 10px;
  font-size: 25px;
  color: #777;
}
ul li span {
  margin-left: 10px;
  color: #000;
}
/*  */
.modal-content h1 {
  text-transform: capitalize;
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}
.modal-content form input {
  padding: 30px;
}
